.footer {

    color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #7DB4D8;
  
    span {
      &:first-child {
        font-weight: bold;
        
      }
      &:last-child {
        font-size: 14px;
      }
    }
  }
  